/* Import font from google */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-color: rgb(200,200,200);
   font-family: sans-serif;
   margin: 0;
   padding: 0;
}
h1,h2,h3,h4,h5,h6{
   font-family: 'Open Sans', sans-serif;
}
#topo, #menu,.destaques, section{
   width: 100%;
   margin:0 auto;
}
#topo h1{
   padding: 20px 0;
}
#topo h2{
   display: none;
}
#menu li{
   display:inline;
}
#menu ul{
   width: 80%;
   margin: 0 auto;
   padding-bottom: 20px;
}
.destaques h2{
   text-align: center;
}
.destaques li{
   width: 100%;
   float: left;
   text-align: center;
   list-style: none;
   padding: 20px 0;
}
.destaques li:hover{
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   transform: scale(1.1);
   -webkit-transition:all 500ms linear;
   -moz-transition:all 500ms linear;
   transition:all 500ms linear;
}
.destaques li strong{
   width: 100%;
   display: block;
}
.center{
   text-align: center;
}
table, tr, td{
   border: 1px solid #000;
}
table{
   background-color: #ddd;
}
form fieldset{
   border: none;
}
form legend{
   text-transform: uppercase;
   font-size: 1.2em;
   padding: 0;
   width: 100%;
   border-bottom: 1px solid #555;
}
form label, form input:not([type=checkbox]), form select, form textarea{
   width: 100%;
}
form div{
   width: 48%;
   margin: 0 1%;
   height: 180px;
   float: left;
}
button{
   padding: 10px 20px;
   background-color: blue;
   color: #fff;
   border: none;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
img{
   width: 60%;
}
#rodape{
   width: 100%;
   background-color: #333;
   color: #ccc;
   float: left;
   text-align: center;
}
#rotape ul{
   padding: 20px 0;
}
#rodape li {
   display: inline;
}

/***********************Media Query********************/
@media (min-width: 576px){
   #topo h2{
      display: block;
      font-size: 1.2em;
      padding: 20px;
   }
   .destaques li{
      width: 50%;
      float: left;
      text-align: center;
      list-style: none;
      padding: 20px 0;
   }
   section{
      margin-left: 20%;
      padding: 2%;
      width: 100%;
   }
   legend{
      margin-left: -20%;
   }
   div{
      width: 100%;
   }
   .m{
      clear: left;
   }
   #rotape{
      width: 100%;
   }

   /***********************Media Query********************/
@media (min-width: 768px){
   #topo h1{
      font-size: 3em;
   }
   #topo h2{
      display: block;
      font-size: 1.5em;
      padding: 20px;
   }
   .destaques li{
      width: 50%;
      float: left;
      text-align: center;
      list-style: none;
      padding: 20px 0;
   }
   #menu ul{
      width: 90%;
      margin: 0 auto;
      padding-bottom: 20px;
   }
   #menu li{
      font-size: 1em;
      padding-left: 1%;
      padding-right: 1%;
   }
   section{
      margin-left: 20%;
      padding: 2%;
      width: 100%;
   }
   legend{
      margin-left: -20%;
   }
   div{
      width: 100%;
   }
   .m{
      clear: left;
   }
   form div{
      width: 70%;
      margin: 0 1%;
      height: 180px;
      float: left;
   }
   #rotape{
      width: 100%;
   }
}
}